<form class="flexcol" autocomplete="off">
    <label for="Str">{{localize 'RYUUTAMA.Ability.Str.abbr'}}</label>
    <select name="Str" id="Str">
        {{#select Str}}
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="6">6</option>
        <option value="8">8</option>
        <option value="10">10</option>
        <option value="12">12</option>
        {{/select}}
    </select>
    <label for="Dex">{{localize 'RYUUTAMA.Ability.Dex.abbr'}}</label>
    <select name="Dex" id="Dex" >
        {{#select Dex}}
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="6">6</option>
        <option value="8">8</option>
        <option value="10">10</option>
        <option value="12">12</option>
        {{/select}}
    </select>
    <label for="Int">{{localize 'RYUUTAMA.Ability.Int.abbr'}}</label>
    <select name="Int" id="Int">
        {{#select Int}}
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="6">6</option>
        <option value="8">8</option>
        <option value="10">10</option>
        <option value="12">12</option>
        {{/select}}
    </select>
    <label for="Spi">{{localize 'RYUUTAMA.Ability.Spi.abbr'}}</label>
    <select name="Spi" id="Spi">
        {{#select Spi}}
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="6">6</option>
        <option value="8">8</option>
        <option value="10">10</option>
        <option value="12">12</option>
        {{/select}}
    </select>
    <label class="resource-label flexshrink">{{localize 'RYUUTAMA.Item.Type'}}</label>
      <select class="flexshrink" name="archetype" data-type="String">
        {{#select archetype}}
        <option value="">---</option>
        <option value="offensive">{{localize 'RYUUTAMA.Offensive'}}</option>
        <option value="tech">{{localize 'RYUUTAMA.Tech'}}</option>
        <option value="magical">{{localize 'RYUUTAMA.Magical'}}</option>
        {{/select}}
      </select>
    <button type="submit">Aplicar cambios</button>
</form>