<div class="grid grid-2col">
  <div class="flexcol">
    <div style="flex:0; border:solid grey 1px">
      <div style="display:flex;flex-direction:row;">
        <img style="margin:6px;" width="56" height="56" src="systems/ryuutama/assets/wounded.png" />
        <div>
          <h3>{{localize "RYUUTAMA.Status.Wounded"}}</h3>
          <input type="text" name="system.status.wounded" value={{system.status.wounded}} data-dtype="Number" />
        </div>
      </div>
      <p>{{localize "RYUUTAMA.Status.WoundedEffect"}}</p>
    </div>
    <div style="flex:0; border:solid grey 1px">
      <div style="display:flex;flex-direction:row;">
        <img style="margin:6px;" width="56" height="56" src="systems/ryuutama/assets/poisoned.png" />
        <div>
          <h3>{{localize "RYUUTAMA.Status.Poisoned"}}</h3>
          <input type="text" name="system.status.poisoned" value={{system.status.poisoned}} data-dtype="Number" />
        </div>
      </div>
      <p>{{localize "RYUUTAMA.Status.PoisonedEffect"}}</p>
    </div>
    <div style="flex:0; border:solid grey 1px">
      <div style="display:flex;flex-direction:row;">
        <img style="margin:6px;" width="56" height="56" src="systems/ryuutama/assets/ill.png" />
        <div>
          <h3>{{localize "RYUUTAMA.Status.Ill"}}</h3>
          <input type="text" name="system.status.ill" value={{system.status.ill}} data-dtype="Number" />
        </div>
      </div>
      <p>{{localize "RYUUTAMA.Status.IllEffect"}}</p>
    </div>
  </div>
  <div class="flexcol">
    <div style="flex:0; border:solid grey 1px">
      <div style="display:flex;flex-direction:row;">
        <img style="margin:6px;" width="56" height="56" src="systems/ryuutama/assets/fatigued.png" />
        <div>
          <h3>{{localize "RYUUTAMA.Status.Fatigued"}}</h3>
          <input type="text" name="system.status.fatigued" value={{system.status.fatigued}} data-dtype="Number" />
        </div>
      </div>
      <p>{{localize "RYUUTAMA.Status.FatiguedEffect"}}</p>
    </div>
    <div style="flex:0; border:solid grey 1px">
      <div style="display:flex;flex-direction:row;">
        <img style="margin:6px;" width="56" height="56" src="systems/ryuutama/assets/dizzy.png" />
        <div>
          <h3>{{localize "RYUUTAMA.Status.Dizzy"}}</h3>
          <input type="text" name="system.status.dizzy" value={{system.status.dizzy}} data-dtype="Number" />
        </div>
      </div>
      <p>{{localize "RYUUTAMA.Status.DizzyEffect"}}</p>
    </div>
    <div style="flex:0; border:solid grey 1px">
      <div style="display:flex;flex-direction:row;">
        <img style="margin:6px;" width="56" height="56" src="systems/ryuutama/assets/shocked.png" />
        <div>
          <h3>{{localize "RYUUTAMA.Status.Shocked"}}</h3>
          <input type="text" name="system.status.shocked" value={{system.status.shocked}} data-dtype="Number" />
        </div>
      </div>
      <p>{{localize "RYUUTAMA.Status.ShockedEffect"}}</p>
    </div>
  </div>
</div>