{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{data.name}}" placeholder="Name" /></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow flex-space">
            <label class="flexshrink resource-label">{{localize 'RYUUTAMA.Terrain'}}</label>
            <select name="data.system.terrain" class="flexshrink save-terrain" data-type="String">
                {{#select data.system.terrain}}
                {{#each terrains}}
                <option value={{this.id}} {{#if this.selected}}selected{{/if}}>{{this.name}} ({{this.value}})</option>
                {{/each}}
                <!--
                <option value="barren">{{localize 'RYUUTAMA.Terrains.barren'}}</option>
                <option value="prairie">{{localize 'RYUUTAMA.Terrains.prairie'}}</option>
                <option value="forest">{{localize 'RYUUTAMA.Terrains.forest'}}</option>
                -->
                {{/select}}
            </select>
        </div>
        <div class="flexrow flex-space">
            <label class="flexshrink resource-label">{{localize 'RYUUTAMA.Climate'}}</label>
            <select name="data.system.climate" class="flexshrink save-climate" data-type="String">
                {{#select data.system.climate}}
                {{#each climates}}
                <option value={{this.id}} {{#if this.selected}}selected{{/if}}>{{this.name}} ({{this.value}})</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </section>
</form>