<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Weight</label>
          <input type="text" name="system.size" value="{{system.size}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Price</label>
          <input type="text" name="system.price" value="{{system.price}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <label class="resource-label">{{localize 'RYUUTAMA.Item.Type'}}</label>
      <select name="system.type" data-type="String">
        {{#select system.type}}
        <option value="shortblade">{{localize 'RYUUTAMA.Item.WeaponType.shortblade'}}</option>
        <option value="blade">{{localize 'RYUUTAMA.Item.WeaponType.blade'}}</option>
        <option value="polearm">{{localize 'RYUUTAMA.Item.WeaponType.polearm'}}</option>
        <option value="axe">{{localize 'RYUUTAMA.Item.WeaponType.axe'}}</option>
        <option value="bow">{{localize 'RYUUTAMA.Item.WeaponType.bow'}}</option>
        <option value="unarmed">{{localize 'RYUUTAMA.Item.WeaponType.unarmed'}}</option>
        {{/select}}
      </select>
      <div class="resource">
        <h2>{{localize 'RYUUTAMA.Item.Weapon.AttackRoll'}}</h2>
        <div class="grid grid-4col">
          <div class="grid-span-1">
            <label class="resource-label">Roll 1</label>
            <select name="system.attack_formula.roll1" data-type="String">
              {{#select system.attack_formula.roll1}}
              <option value="Str">{{localize 'RYUUTAMA.Ability.Str.abbr'}}</option>
              <option value="Dex">{{localize 'RYUUTAMA.Ability.Dex.abbr'}}</option>
              <option value="Int">{{localize 'RYUUTAMA.Ability.Int.abbr'}}</option>
              <option value="Spi">{{localize 'RYUUTAMA.Ability.Spi.abbr'}}</option>
              {{/select}}
            </select>
          </div>
          <div class="grid-span-1">
            <label class="resource-label">Roll 2</label>
            <select name="system.attack_formula.roll2" data-type="String">
              {{#select system.attack_formula.roll2}}
              <option value="Str">{{localize 'RYUUTAMA.Ability.Str.abbr'}}</option>
              <option value="Dex">{{localize 'RYUUTAMA.Ability.Dex.abbr'}}</option>
              <option value="Int">{{localize 'RYUUTAMA.Ability.Int.abbr'}}</option>
              <option value="Spi">{{localize 'RYUUTAMA.Ability.Spi.abbr'}}</option>
              {{/select}}
            </select>
          </div>
          <div class="grid-span-1">
            <label class="resource-label">Mod</label>
            <input type="text" name="system.attack_formula.diceBonus" value="{{system.attack_formula.diceBonus}}"
              data-dtype="String" />
          </div>
        </div>
        <h2>{{localize 'RYUUTAMA.Item.Weapon.DamageRoll'}}</h2>
        <div class="grid grid-4col">
          <div class="grid-span-1">
            <label class="resource-label">Roll 1</label>
            <select name="system.damage_formula.roll1" data-type="String">
              {{#select system.damage_formula.roll1}}
              <option value="Str">{{localize 'RYUUTAMA.Ability.Str.abbr'}}</option>
              <option value="Dex">{{localize 'RYUUTAMA.Ability.Dex.abbr'}}</option>
              <option value="Int">{{localize 'RYUUTAMA.Ability.Int.abbr'}}</option>
              <option value="Spi">{{localize 'RYUUTAMA.Ability.Spi.abbr'}}</option>
              {{/select}}
            </select>
          </div>
          <div class="grid-span-1">
            <label class="resource-label">Mod</label>
            <input type="text" name="system.damage_formula.diceBonus" value="{{system.damage_formula.diceBonus}}"
              data-dtype="String" />
          </div>
        </div>
      </div>
    </div>
  </section>
</form>

{{log system}}